.App {
  text-align: center;
}

.winner_card {
  position: absolute;
  background-color: #0e8ce4ba;
  text-align: center;
  z-index: 1111;
  height: 100%;
  width: 97%;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.winner-card {
  background: white;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  height: 300px;
  box-shadow: 1px 7px 20px 2px #0000005e;
}

.winner-card-image {
  height: 130px !important;
  width: 130px !important;
  border-radius: 100px;
  position: relative;
  top: 75px;
  z-index: 1;
  border: 4px solid #0e8ce4ba;
}

.winner-card-info {
  margin-top: 60px;
}

.btn-primary {
  background-color: #0e8ce4;
  border-color: #0e8ce4;
}

.nav-pills .nav-link {
  border-radius: 0;
  color: #0e8ce4;
}

.nav-pills .nav-link.active {
  background-color: #0e8ce4;
}

.nav button {
  height: 50px;
}

#v-pills-tab {
  padding-right: 0;
}

.wishlist_text a {
  font-size: 16px !important;
}

.wishlist_content {
  margin-top: 4px !important;
}
