.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.btn-floating {
    height: 37px;
    width: 37px;
    border-radius: 50%;
}
.check-label {
  margin-left: 5px;
  line-height: 2;
}

input[type="checkbox"] {
  padding: 8px;
}

.logi {
  height: 490px;
  margin-top: 10px;
}